@use "../variables" as var;

body {
    font-family: var.$main-font;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: var.$text-color;
    background-color: var.$bg-color;
    font-feature-settings: "palt"; /* automated font-kerning */
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}