$bg-color: #141414;
$bg-gradient: linear-gradient(
    135deg,
    #0e002e 0%,
    #1e092b 23%,
    #320c65 49%,
    #a01b7c 80%,
    #c21780 100%
  );
$main-color: #d136d1;
$text-color: #fff;

$main-font: "Montserrat", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
"Hiragino Sans", Meiryo, sans-serif;