@use "../variables" as var;

.about__body {
    display: flex;
    align-items: center;
    column-gap: 70px;

    .about__img--wrapper {
        flex: 0 1 40%;
    }

    .about__desc {
        flex: 1;

        .about__subtitle {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .about__title {
            font-size: 48px;
            color: var.$main-color;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 40px;
            letter-spacing: 0.1em;
        }

        .about__info {
            font-size: 18px;
            line-height: 1.8;
            margin-bottom: 20px;
        }

    }
}

.table-type01 {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}