.footer {
    display: grid;
    place-items: center;
    padding: 70px 20px;
    background-color: #141414;

    .footer__copyright {
        font-size: 14px;
        font-weight: bold;letter-spacing: 0.08em;
    }
}