@use "../variables" as var;

.heading01 {
    font-weight: bold;
    font-size: 60px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var.$main-color;
    text-transform: uppercase;

    .heading01__subtitle {
        font-size: 20px;
        color: var.$text-color;
        display: block;
        margin-top: 10px;
    }
}