@use "../variables" as var;

.mv {
    background: var.$bg-gradient;

    .mv__inner {
        height: 700px;
        max-width: 1240px;
        margin: 0 auto;
        background-image: url("../../img/mv.png");
        background-repeat: no-repeat;
        display: flex;
        position: relative;
        align-items: center;
        padding: 0 50px;
        background-position: right bottom;
        background-size: 560px 737px;

        .mv__titleArea {
            position: relative;
            color: var.$text-color;

            &:after {
                background-image: url("../../img/teiji-de-kaerumon.svg");
                display: block;
                position: absolute;
                content: "";
                right: 40px;
                bottom: 60px;
                width: 326px;
                height: 68px;
                background-size: contain;
                transform: rotate(-13deg);
            }

            .mv__subtitle {
                font-size: 24px;
                color: var.$main-color;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 0.8em;
            }

            .mv__title {
                font-size: clamp(24px, 10vw, 100px);
                font-weight: bold;
                line-height: 1;
                margin-bottom: 10px;
            }

            .mv__date {
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 0.07em;
            }

            .mv__btn {
                margin-top: 2em;

                .btn {
                    display: inline-block;
                    width: 300px;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1;
                    letter-spacing: 0.05em;
                    text-align: center;
                    padding: 24px 0;
                    background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
                    border-radius: 100px;
                    box-shadow: 0 10px #dd118e;
                }
            }
        }
    }
}
