@use "../variables" as var;

.register {
    background-image: url("../../img/bg.jpg");

    .register__form {
        padding: 90px;
        border: 5px solid var.$main-color;
        border-radius: 20px;
        background-color: #1a1a1a;

        .form__item {
            &:not(:last-child) {
                margin-bottom: 30px;

                .form__title {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }
            .form__note {
                font-size: 12px;
                font-weight: normal;
                margin-left: 5px;
            }

            .form__require {
                color: var.$main-color;
                font-size: 12px;
                margin-left: 10px;
            }

            .form__radio:not(:last-child) {
                margin-right: 35px;
            }

            .form__input, .form__select {
                width: 300px;
                color: #333;
            }

            .form input[type="radio"] {
                margin-right: 5px;
                border: 1px solid #333;
                border-radius: 50%;
            }
        }
    }
}